In [1]:
import pickle
import pandas as pd

## Packages

## Dependencies

In [2]:
train = pd.read_csv('../../assets/data/splits/train/preprocessed.csv')

## Functions and Assets

## CountVectorizer

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

stop_words = ["da", "meu", "em", "voce", "de", "ao", "os", "cento"]

cv_vec = CountVectorizer(ngram_range=(1, 1), token_pattern=r'\b[a-zA-Z]{3}[a-zA-Z0-9]{3,}\b', max_df=0.5, min_df=2, stop_words=stop_words)
X_train_cv = cv_vec.fit_transform(train['title']).toarray()

X_train_names_cv = pd.DataFrame(X_train_cv, columns=cv_vec.get_feature_names_out())
X_train_names_cv

,abaixo,abastecimento,aberto,abertura,abicom,absorver,absurdo,aceita,acelen,acelera,...,vitoria,volatil,volatilidade,voltar,voltou,volume,vontade,votacao,votada,warren
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3539,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3540,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3541,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3542,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3543,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
import numpy as np
X_train_cv_vis = X_train_names_cv.copy()
X_train_cv_vis = X_train_cv_vis.iloc[:2]
X_train_cv_vis = X_train_cv_vis.replace(0, np.nan).dropna(axis=1, how='all')
X_train_cv_vis = X_train_cv_vis.replace(np.nan, 0)
X_train_cv_vis.astype(int)

,acelerar,aumentam,avalia,compor,diretoria,duvidas,eletrobras,ferreira,funcionarios
0,0,0,1,1,1,0,0,0,1
1,1,1,0,0,0,1,1,1,0

## TFIDF Vectorizer

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

stop_words = ["da", "meu", "em", "voce", "de", "ao", "os", "cento"]

tfidf_vec = TfidfVectorizer(ngram_range=(1, 1), token_pattern=r'\b[a-zA-Z]{3}[a-zA-Z0-9]{3,}\b', max_df=0.5, min_df=2,stop_words=stop_words)
X_train_tfidf = tfidf_vec.fit_transform(train['title']).toarray()

X_train_names_tfidf = pd.DataFrame(X_train_tfidf, columns=tfidf_vec.get_feature_names_out())
X_train_names_tfidf
# X_val_tfidf = cv_vec.transform(val['title']).toarray()

,abaixo,abastecimento,aberto,abertura,abicom,absorver,absurdo,aceita,acelen,acelera,...,vitoria,volatil,volatilidade,voltar,voltou,volume,vontade,votacao,votada,warren
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3539,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3541,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
import numpy as np
X_train_tfidf_vis = X_train_names_tfidf.copy()
X_train_tfidf_vis = X_train_tfidf_vis.iloc[:2]
X_train_tfidf_vis = X_train_tfidf_vis.replace(0, np.nan).dropna(axis=1, how='all')
X_train_tfidf_vis = X_train_tfidf_vis.replace(np.nan, 0)
X_train_tfidf_vis

,acelerar,aumentam,avalia,compor,diretoria,duvidas,eletrobras,ferreira,funcionarios
0,0.000000,0.000000,0.417702,0.53417,0.53417,0.000000,0.0000,0.000000,0.504828
1,0.473957,0.473957,0.000000,0.00000,0.00000,0.473957,0.3349,0.462533,0.000000

## Output

In [8]:
with open('../../assets/trad_assets/cv_vec.pkl', 'wb') as fout:
    pickle.dump(cv_vec, fout)

In [9]:
with open('../../assets/trad_assets/tfidf_vec.pkl', 'wb') as fout:
    pickle.dump(tfidf_vec, fout)